---
import Welcome from "../components/Welcome.astro";
import Page from "../layouts/Page.astro";
import Note from "../components/footnotes/Note.astro";
import Footnotes from "../components/footnotes/Footnotes.astro";
---

<Page title="Your FIRST Crash Course">
	<div>
		<Welcome />

		<section>

		</section>
	</div>
</Page>
