<footer>
    <section>
        <p style="max-width: 48rem">
            All my work is under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain waiver</a>. 
            Feel free to remix, copy and use any of it. Attribution is always appreciated ♡
        </p>
        <p style="margin-top: 0;">
            No affiliation with FIRST<sup>®</sup> or the FIRST<sup>®</sup> Tech Challenge.
        </p>
        <span id="links">
            <a id="icon" href="https://discordapp.com/users/259080310690414593">
                <i class="fa-brands fa-discord"></i>
            </a>
            <a id="icon" href="mailto:heyjeffkhuu@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </span>
    </section>
</footer>