<header>
    <nav>
        <a aria-label="Home" href="/first"> <i class="fa-solid fa-house"></i> Home</a>
        <a aria-label="View all Content" href="/first/articles"><i class="fa-solid fa-book"></i> Articles </a>
    </nav>
</header>
