---

---

<div id="hero">
	<section>
		<h1>Learning to code for the FIRST Tech Challenge?</h1>
		<p style="max-width: 50rem;">
			<b>So am I!</b> Welcome to a catalog of educational and pedagogical content
			relating to programming in Java for the FIRST Tech Challenge (FTC)! Curated
			and written by a programmer learning and competing as part of the FTC.
		</p>
		<p style="max-width: 50rem;">
			Below you will find a series of articles and explainers for concepts
			and code I wish I had when I started programming in the FTC. Enjoy!
		</p>
	</section>
</div>
